* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img, video {
  vertical-align: middle;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
}
#header .center {
  width: 500px;
  border-radius: 50px;
  background-color: #4e3431;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#header .center .gnb {
  display: flex;
  justify-content: center;
}
#header .center .gnb li {
  line-height: 85px;
  margin: 0 20px;
  font-size: 16px;
}
#header .center .gnb li a {
  color: #fff;
  transition: all 0.3s;
}
#header .center .gnb li.on a {
  color: #4e3431;
  background-color: #fff;
  width: 100px;
  line-height: 40px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
}

#header.fixed {
  height: 85px;
  position: fixed;
  left: 0;
  top: 0;
}
#header.fixed .center {
  width: 100%;
  border-radius: 0;
}

#container .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  position: relative;
  background-color: #ca5656;
}
#container .intro .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
#container .intro .bg img {
  width: 100%;
}
#container .intro .bg .black {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#container .intro .border {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
}
#container .intro .border > div {
  position: absolute;
  background-color: #fff;
}
#container .intro .border > div:nth-child(1), #container .intro .border > div:nth-child(2) {
  height: 5px;
  -webkit-animation-name: border1;
          animation-name: border1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes border1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes border1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#container .intro .border > div:nth-child(3), #container .intro .border > div:nth-child(4) {
  width: 5px;
  -webkit-animation-name: border2;
          animation-name: border2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes border2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes border2 {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
#container .intro .border > div:nth-child(1) {
  left: 0;
  top: 0;
}
#container .intro .border > div:nth-child(2) {
  right: 0;
  bottom: 0;
}
#container .intro .border > div:nth-child(3) {
  left: 0;
  bottom: 0;
}
#container .intro .border > div:nth-child(4) {
  right: 0;
  top: 0;
}
#container .intro .center {
  width: 80%;
  z-index: 5;
}
#container .intro .center .text_ani_box {
  display: flex;
  justify-content: center;
}
#container .intro .center .text_ani_box svg {
  fill: none;
  width: 700px;
  stroke-width: 4px;
}
#container .intro .center .text_ani_box path {
  stroke: #fff;
  stroke-dasharray: 779.64;
  stroke-dashoffset: 779.64;
  -webkit-animation: path 4s forwards 0.7s;
          animation: path 4s forwards 0.7s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes path {
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
    opacity: 0.9;
  }
}
@keyframes path {
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
    opacity: 0.9;
  }
}
#container .intro .center .text_box {
  text-align: center;
  margin-top: 50px;
}
#container .intro .center .text_box p {
  font-size: 23px;
  line-height: 55px;
  font-weight: 500;
  color: #fff;
}
#container .intro .center .text_box p .line {
  position: relative;
}
#container .intro .center .text_box p .line::before {
  content: "";
  width: 108%;
  height: 76%;
  display: inline-block;
  position: absolute;
  left: -2px;
  top: 5px;
  background-color: #ffd3d3;
  z-index: 1;
  border-radius: 5px;
}
#container .intro .center .text_box p .line > span {
  color: #642a2a;
  z-index: 2;
  position: relative;
  font-weight: 600;
}
#container .about_me {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e05e6f;
  height: 100vh;
}
#container .about_me .center {
  width: 80%;
  padding-bottom: 160px;
}
#container .about_me .center .title {
  padding: 150px 0 80px;
  font-size: 20px;
  color: #f35d5d;
}
#container .about_me .center > div {
  font-size: 15px;
  line-height: 25px;
}
#container .about_me .center > div .sub_title {
  font-size: 15px;
  padding: 75px 0 10px;
}
#container .about_me .center > div .sub_title i {
  margin-right: 5px;
  font-size: 12px;
  position: relative;
  bottom: 2px;
  color: #e05e6f;
}
#container .about_me .center > div .info_st {
  padding: 0 0 10px;
}
#container .about_me .center .top {
  display: flex;
  padding-bottom: 55px;
  border-bottom: 1px solid #e05e6f;
}
#container .about_me .center .top .info {
  width: 35%;
}
#container .about_me .center .top .sentence {
  position: relative;
}
#container .about_me .center .top .sentence::before {
  content: "";
  display: block;
  width: 395px;
  height: 36px;
  position: absolute;
  left: -2px;
  top: -3px;
  background-color: #e05e6f;
  z-index: 1;
}
#container .about_me .center .top .sentence .t_text {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
  position: relative;
  margin-bottom: 18px;
}
#container .about_me .center .top .sentence .b_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
#container .about_me .center .bottom {
  display: flex;
}
#container .about_me .center .bottom > div:nth-child(1) {
  width: 45%;
}
#container .about_me .center .bottom > div:nth-child(2) {
  width: 45%;
}
#container .about_me .center .bottom > div:nth-child(3) {
  width: 20%;
}
#container .about_me .center .bottom .wrap {
  display: flex;
}
#container .about_me .center .bottom .wrap .left {
  width: 50%;
}
#container .about_me .center .bottom .wrap .ed_left {
  width: 65%;
}
#container .about_me .center .bottom .wrap .right {
  width: 50%;
}
#container .portfolio {
  padding-top: 85px;
}
#container .portfolio .pf {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background-color: #fffaf6;
}
#container .portfolio .pf > div {
  width: 50%;
}
#container .portfolio .pf .left {
  overflow: hidden;
  position: relative;
}
#container .portfolio .pf .left a img {
  width: 100%;
}
#container .portfolio .pf .left .move img {
  width: 100%;
}
#container .portfolio .pf .left .hover_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: all 0.5s;
  opacity: 0;
}
#container .portfolio .pf .left .hover_bg a {
  color: #fff;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#container .portfolio .pf .left .hover_bg a p {
  margin-top: 20px;
}
#container .portfolio .pf .left:hover .hover_bg {
  opacity: 1;
}
#container .portfolio .pf .right {
  padding: 0 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#container .portfolio .pf .right .context .title {
  padding: 0 0 20px;
  font-size: 20px;
  color: #f35d5d;
}
#container .portfolio .pf .right .context .link {
  display: block;
  color: #f35d5d;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 20px;
}
#container .portfolio .pf .right .context .link i {
  margin-right: 3px;
  font-size: 14px;
}
#container .portfolio .pf .right .context .info1 {
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 25px;
}
#container .portfolio .pf .right .context .info1 p span {
  font-weight: 500;
  color: #ca5656;
}
#container .portfolio .pf .right .context .info2 p {
  font-size: 15px;
  padding-left: 8px;
  line-height: 25px;
}
#container .portfolio .pf .right .context .info2 p:first-child {
  padding: 20px 0 10px;
  font-weight: 500;
  color: #ca5656;
}
#container .portfolio .pf .right .context .info2 p:first-child i {
  font-size: 12px;
  position: relative;
  bottom: 2px;
  margin-right: 5px;
  color: #eb6d68;
}
#container .portfolio .pf .right .context .info2 .bank {
  font-size: 14px;
  padding-left: 18px;
}
#container .portfolio .pf .right .context .info2 .bank mark {
  font-weight: 500;
  background-color: #ffcbc9;
  padding: 0 5px;
}
#container .portfolio .pf .right .context .info2 .bank i {
  font-size: 11px;
  position: relative;
  bottom: 1px;
  margin: 0 5px;
}

#footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #c2c2c2;
  color: #fff;
  background-color: #562b2b;
}
#footer .title {
  padding-bottom: 100px;
  font-size: 20px;
  color: #fff;
}
#footer .center {
  width: 80%;
  padding: 100px 0;
}
#footer .center .f_top {
  display: flex;
}
#footer .center .f_top > div {
  width: 50%;
  font-weight: 500;
  font-size: 20px;
}
#footer .center .f_top > div .sub_title {
  font-weight: normal;
  padding-bottom: 15px;
}
#footer .center .f_bot {
  padding-top: 100px;
  font-size: 30px;
  font-weight: 500;
}