* {margin: 0; padding: 0;}
a {text-decoration: none;}
ul,ol,li {list-style: none;}
img,video {vertical-align: middle;}
body {
    line-height: 1;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}